@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

#myBar_red {
    width: 10%;
    height: 30px;
    background-color: RED;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}

#myBar_yellow {
    width: 10%;
    height: 30px;
    background-color: YELLOW;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}

#myBar_green {
    width: 10%;
    height: 30px;
    background-color: GREEN;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}
